name: Build

on:
  push:
    branches: [ master ]
    paths-ignore: '**.md'
  pull_request:
    branches: [ master ]
    paths-ignore: '**.md'
  repository_dispatch:
    types: [trigger-event]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        DISTRO: [
          { "base_image": "ubuntu:jammy", "ros_distro": "humble", "cuda":"OFF", "suffix": "gcc" },
          { "base_image": "ubuntu:jammy", "ros_distro": "humble", "cuda":"OFF", "suffix": "llvm" },
          { "base_image": "ubuntu:noble", "ros_distro": "jazzy", "cuda":"OFF", "suffix": "gcc" },
          { "base_image": "ubuntu:noble", "ros_distro": "jazzy", "cuda":"OFF", "suffix": "llvm" },
          { "base_image": "nvidia/cuda:13.1.0-devel-ubuntu24.04", "ros_distro": "jazzy", "cuda":"ON", "suffix": "llvm" },
          # { "ubuntu": "noble_gtsam4.3a0", "suffix": "llvm" },
          # { "ubuntu": "jammy_gtsam4.3a0", "suffix": "gcc" },
          # { "ubuntu": "jammy_gtsam4.3a0", "suffix": "llvm" },
          # { "ubuntu": "jammy_cuda12.2_gtsam4.3a0", "suffix": "gcc.cuda" },
          # { "ubuntu": "jammy_cuda12.2_gtsam4.3a0", "suffix": "llvm.cuda" }
        ]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Docker login
        continue-on-error: true
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          file: ${{github.workspace}}/docker/ubuntu/Dockerfile.${{ matrix.DISTRO.suffix }}
          build-args: |
            BASE_IMAGE=${{ matrix.DISTRO.base_image }}
            ROS_DISTRO=${{ matrix.DISTRO.ros_distro }}
            WITH_CUDA=${{ matrix.DISTRO.cuda }}
          context: .

  dispatch:
    needs: build
    strategy:
      matrix:
        repo: ['koide3/glim_ros2']
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GH_PAT }}
          repository: ${{ matrix.repo }}
          event-type: trigger-event
